<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>

    <style>
        body {
  background: dodgerblue linear-gradient(45deg, aqua, dodgerblue, deeppink) fixed;
	color: white;
  font: normal 32px/1.6 system-ui, sans-serif;
	text-shadow: 0 1px 1px hsl(0 0% 0% / 20%);
  margin: 3rem;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


        .Wall{
margin: auto;
width: 50%;
  border: 3px solid #73AD21;
  padding: 200px;
          }


          input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
    </style>

    <meta http-equiv="refresh" content="192">

</head>
<body>
<div class="Wall">
    <label for="fname">Add Money</label>
    <input type="text" id="fname" name="firstname" placeholder="Your Money..">
    <input type="submit" value="Add Money" onclick="getVal();">

    <h1 id="sohum">Balance:</h1>
</div>
<script>
        function getVal()
            {
             var txt = document.getElementById('fname').value;
          document.getElementById("sohum").innerHTML="Balance:"+txt+"-Rs";
          

          if (txt > 50000){
          var limit="Limit is 50000 rs only";
          document.getElementById("sohum").innerHTML=limit;

        }else{
          document.getElementById("sohum").innerHTML="Balance:"+txt+"-Rs";
        }

        }
      
</script>
</body>
</html>